.nav-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 9px 3px 15px 2px #aeaeae;
    color: rgb(14, 101, 201);
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.nav-btns{
    display: flex;
}

.nav-btns span{
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    margin: 0 .5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.nav-btns span:hover{
    color: #01017d;
    border: 2px solid #01017d;
    background-color: #bbfcfc;
    border-radius: .2rem;
}


/* common */

a{
    text-decoration: none;
    color: rgb(14, 101, 201);
}